body{
	background-color: black;
	scroll-behavior: smooth;
}
#menu{
	padding-bottom: 0;
	padding-top: 25px;
	/*height: 110px;*/
}
.backblack{
	background-color: rgba(0, 0, 0, .8);
	
	padding-left: 45px;
}
.banner nav{
	padding-top: 50px;
	padding-left: 70px;
}
.banner nav ul li img{
	width: 200px;
	height: 140px;
	margin-top: -30px;
	text-decoration: none;
}
.banner nav ul li a:hover{
	text-decoration: none;
	background: none;
}
.btnsul{
	padding-right: 70px;
}
.btnsul li{
	display: inline-block;
}
.btnsul li a{
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-top: 28px;
	transition: .5s;
	box-shadow: inset 0px 0px rgba(1, 199, 226, .8);
}
.btnsul li a:hover{
	color: white;
	box-shadow: inset 0px 100px rgba(1, 199, 226, .4);
	background: none;
}
.boximg{
	padding: 5px;
	overflow: hidden;
	height: 420px;
}
.boximg img{
	width: 100%;
	transition: .5s;
	height: 420px;
}
.boximg img:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.maindiv span{
	color: #00c5df;
	font-size: 21px;
	margin-left: 18px;
}
.maindiv p{
	color: white;
	font-size: 28px;
	letter-spacing: 1px;
	font-family: Times New Roman;
	margin-left: 18px;
}
.maindiv .col-md-6{
	padding: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.maindiv .col-md-6 p{
	font-family: Times New Roman;
	font-size: 26px;
	letter-spacing: 1px;
	color: white;
	margin: 5px;
	margin-top: 12px;
	margin-bottom: 2px;
}
.maindiv .col-md-6 span{
	font-family: Calibri;
	color: darkgray;
	margin-left: 5px;
	font-size: 17px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.footer{
	background-color: white;
	padding-top: 75px;
	padding-bottom: 75px;
}
.footer p{
	font-size: 14px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 45px;
}
.footer i{
	font-size: 21px;
}
.footer i:hover{
	color: #00c5df;
	cursor: pointer;
}